.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.calc-root {
  padding-top: 50px;
}

.App-intro {
  font-size: large;
}

.table-row {
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
}
.table-col {
  display: flex;
  font-size: 15px;
  flex-direction: column;
}
.resul-val {
  font-weight: 700;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
